:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:  #333;
    --primary-color: #3fd0d4;

    --header-height:80px;
    --header-mobile-height:60px;
}
*{
    box-sizing: inherit;
}
::selection{
    color: var(--white-color);
    background-color: var(--primary-color);
}
body div.preload *{
    animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: var(--white-color);
}
.btn{
    outline: none;
    border: none;
    border-radius: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in;
}
.text-align-right{
    text-align: right;
}
ul.slick-dots li button:before{
    font-size: 14px;
    color: var(--primary-color);
}
ul.slick-dots li.slick-active button:before{
    color: var(--primary-color);
}
.review__customer-dot .slick-dots{
    bottom: 0px;
}
@keyframes topToBottom{
    from{
        max-height: 0px;
    }to{
        max-height: 500px;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes textUp{
    from{
        transform: translateY(20px);
    }to{
        transform: translateY(0);
    }
}
@keyframes zoom-in {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.2);
    }
}
